.login-box{
    padding: 50px;
    background-color: #F0F0F0;
    width: fit-content;
    height: fit-content;
}

.invalid{
    font-size: 14px;
    font-family: 'PoppinsR';
    color: rgb(255, 60, 60);
}

.form-control{
    all: unset;
    border-radius: 5px;
    border: solid 2px #F0F0F0;
    background-color: #FFFFFF;
}