<div class="footer">
    <div style="margin-left: 20px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; gap: 150px;">
        <div class="logo-wrapper">
            <a routerLink="/">
                <img id="logo" src="../../../assets/images/logo.png" alt="logo">
            </a>
            <p>Global<span id="coder">Coder</span></p>
        </div>
        <p style="font-size: 14px;">&copy;Todos os direitos reservados. 2024</p>
    </div>
    <div class="sections">
        <div class="footer-routes">
            <!-- <h2 class="section-title">Empresa</h2> -->
            <a class="footer-route" href="/quem-somos">Quem Somos?</a>
            <a class="footer-route" href="/termos">Contato</a>
            <!-- <a class="footer-route" href="/termos#cookies">Política de Cookies</a> -->
        </div>
        <div class="divider"></div>
        <div class="footer-routes">
            <!-- <h2 class="section-title">Empresa</h2> -->
            <a class="footer-route" href="/termos">Termos e Condições</a>
            <a class="footer-route" href="/termos#privacidade">Política de Privacidade</a>
            <a class="footer-route" href="/termos#cookies">Política de Cookies</a>
        </div>
    </div>
    
</div>