<div style="border-radius: 10px; padding: 15px; background-color: #f0f0f0; gap: 10px; display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; gap: 20px; width: 150px;">
        <img style="width: 50px; height: 50px;" src="../../../assets/images/logo.png" alt="">
        <h1>Título</h1>
    </div>
    <p style="color:var(--tribsoc-blue); text-wrap:wrap; text-align: justify;width: 140px; font-family: 'PoppinsR'; font-size: 8pt;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id nisi ut tortor cursus consectetur ut sit amet purus. Donec ac...</p>
    <p>{{ 'R$' +  this.valor }}</p>
    <button style="background-color: var(--tribsoc-lightblue); color: #FFFFFF; padding: 10px 15px; border-radius: 20px;">Candidatar-se</button>
</div>